@import "./styles/variables";
@import "./styles/testimonial-card";
@import "./styles/gallery";
@import "./styles/social-media-button";

html,
body {
  margin: 0;
  padding: 0;
  background-color: $backgroundcolor;
}

/*#region tablet*/
@media screen and (min-width: 480px) {
  .gallery-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
/*#endregion*/

/*#region desktop*/
@media screen and (min-width: 1024px) {
  .gallery-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
/*#endregion*/
