$backgroundcolor: #c3cfe2;
$backgroundcolor-white: #fff;

$testemonial-footer-color: #686de0;
$testemonial-text-color: #fff;

$font-family: "Open Sans", sans-serif;
$font-color: #5e5252;

$border-radius: 25px;

$box-padding: 40px;
